<!--{% extends "core/base.html" %}
{% block content %}
<div class=" container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Services</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass fa-3x mb-3 i-colo"></i>
            <h3>SEO</h3>
            <P>SEO utilizes things like keywords, internal and external links, and optimized content to help search engines find content and rank websites higher on search engine results pages (SERPs).</P>

        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-3x mb-3 i-colo"></i>
            <h3>WEB DESGIN</h3>
            <P>SEO utilizes things like keywords, internal and external links, and optimized content to help search engines find content and rank websites higher on search engine results pages (SERPs).</P>

        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-3x  mb-3 i-colo"></i>
            <h3>WEB DEVELOPMENT</h3>
            <P>SEO utilizes things like keywords, internal and external links, and optimized content to help search engines find content and rank websites higher on search engine results pages (SERPs).</P>

        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android  fa-3x mb-3 i-colo"></i>
            <h3>Android  Development</h3>
            <P>Android OS is a Linux-based mobile operating system that primarily runs on smartphones and tablets. The Android platform includes an operating system based upon the Linux kernel, a GUI, a web browser and end-user applications that can be downloaded.</P>

        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-app-store fa-3x mb-3 i-colo"></i>
            <h3>App Development</h3>
            <P>Mobile application development is the process of making software for smartphones, tablets and digital assistants, most commonly for the Android and iOS operating systems.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-rectangle-ad fa-3x  mb-3 i-colo"></i>
            <h3>Advertising</h3>
            <P>SEO utilizes things like keywords, internal and external links, and optimized content to help search engines find content and rank websites higher on search engine results pages (SERPs).</P>

        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-regular fa-pen fa-3x mb-3 i-colo"></i>
            <h3>Logo Design</h3>
            <P>SEO utilizes things like keywords, internal and external links, and optimized content to help search engines find content and rank websites higher on search engine results pages (SERPs).</P>

        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-vr-cardboard fa-3x mb-3 i-colo"></i>
            <h3>Hosting</h3>
            <P>SEO utilizes things like keywords, internal and external links, and optimized content to help search engines find content and rank websites higher on search engine results pages (SERPs).</P>

        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-phone fa-3x mb-3 i-colo"></i>
            <h3>Support</h3>
            <P>SEO utilizes things like keywords, internal and external links, and optimized content to help search engines find content and rank websites higher on search engine results pages (SERPs).</P>

        </div>
    </div>
</div>
{% endblock content %} -->